*{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	text_decoration:none;
}
body{
	background-color: #00060f;
}
a{
	text-decoration:none;
}
h1{
	margin-top: -700px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 45px;
	color:white;
}
h2{
	margin-top:180px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	color:white;
}
h3{
	font-family: 'Fredericka the Great', cursive;
	font-size: 16px;
	color:white;
	position:absolute;
	margin-top:50px;
	margin-left:130px;
}
h4{
	text-align:center;
	margin-top:40px;
	font-size: 22px;
	color:white;
}
.video{
	position: relative;
	display:flex;
	overflow:hidden;
	z-index:-5;
	filter:blur(3px);
}
.background{
	width:100%;
	height:100%;
	position:absolute;
	background-color: rgba(0,6,15,.8);	
	z-index:1;
}
.menu{
	top:0;
	left:0;
	float:left;
	height:730px;
	width:300px;
	background-color:#00060f;
	position:absolute;

}
.text{
	float:right;
}
.inner-menu{
	margin-top:50px;
	width:300px;
	overflow:hidden;
}
.item{
	border-top: #163e4a 1px solid;
	overflow:hidden;
}
.btn{
	display:block;
	padding: 16px 20px;
	background-color:#1f1f1f;
	color:#FFF;
	position:relative;
}
.btn::before{
	content:'';
	position:absolute;
	background-color:#1f1f1f;
	width:14px;
	height:14px;
	left:20px;
	bottom:-7px;
	transform:rotate(45deg);
}
.btn i{
	margin-right: 14px;
}
.submenu{
	background-color:#163e4a;
	overflow:hidden;
	transition: .3s;
	max-height:0;
}
.submenu a{
	display: block;
	color:#FFF;
	padding: 16px 26px;
	font-size:14px;
	margin:4px 0;
	position:relative;
}
.submenu a::before{
	content: '';
	position:absolute;
	background-color: #adbfff;
	height:100%;
	width:6px;
	left:0;
	top:0;
	transition: 0.3s;
	opacity: 0;
}
.submenu a:hover::before{
	opacity: 1;
}
.item:target .submenu{
	max-height:50em;
}
.footer{
	width:100%;
	background-color:#00060f;
}
.inner-footer{
	margin:auto;
	background-color:#00060f;
	color: white;
	width:1200px;
	height:40px;
	line-height:40px;
}
.text{
	margin-left: 350px;
	margin-top:9px;
	float:left;
}
.social-menu{
	margin-right:400px;
	float:right;
	margin-top: 10px;
}
.social-menu ul li {
	padding-left:10px;
	padding-right:10px;
	list-style:none;
	display: inline-block;
}
.social-menu ul li .fa{
	font-size: 30px;
	color:white;
}
.social-menu ul li a{
	display:block;
	transition: 0.4s;
}
.social-menu ul li a:hover{
	transform: translate(0,-10px);
	transition: 0.5s;
}